.message {
    display: flex;
    align-items: flex-end;

    margin: 10px;
}

.avatar {
    height: 50px;
    width: 50px;

    border-radius: 50%;
}

.content {
    padding: 10px;

    border-radius: 5px 5px 5px 0;
    background-color: rgba(255, 255, 255, 0.3);
}
.imageAndText {

}

.angle {
    width: 15px;
    height: 15px;
}

.imageAndText img {

}

.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.text:after {

}

.name {

}

.messageText {

}

.time {
    display: flex;
    justify-content: flex-end;
    color: #cc9c00;
}