.sidebar {
    height: 100%;
    width: 350px;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: lightblue;
}

.sidebar.open {
    padding: 8px;
    font-size: 24px;
    display: block;
}

.background {
}

.nav {
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
}
.close {
}

.close img {
}
