.stand {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 30px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
