.greetingForm {
    display: flex;
    align-items: flex-start;
}

.inputAndButtonContainer {

}

.error {
    color: #cc0000;
    height: 21px;
    margin-left: 10px;
}

.input {
    margin: 10px;
    background: aquamarine;
    color: #0059b3;
}

.input:focus {
    outline: none;
    border: #cc9c00 solid 2px;
}

.errorInput {
    margin: 10px;
    background: antiquewhite;
    color: cadetblue;

    border: black;
    outline: none;
}

.button {
    margin: 10px;
    width: 60px;

    background: antiquewhite;
    color: cadetblue;
    outline: none;
}

.button:focus {
    outline: cadetblue solid 1px;

}

.button:active {
    background: cadetblue;
}

.button:disabled {
}

.text {
}

.greeting {
}
