.button {
    min-width: 132px;
    height: 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: white;
    padding: 5px 24px;
    border-radius: 3px;
    border: none;
    background: #0066CC;
}

.disabled {
    color: #002E5C;
    opacity: 0.5;
}

.secondary {
    width: 167px;
    height: 30px;
    color: #0066CC;
    border: 1px solid #0066CC;
    background: white;
}

.default {
}

.red {
    background: red;
}

.default:hover {
    width: 167px;
    background: #0080FF;
}

.red:hover {
    width: 167px;
    background: #FF1A47;
}

.secondary:hover {
    background: #E5F0FA;
}


.default:active {
    width: 167px;
    background: #0059B3;
}

.secondary:active {
    width: 167px;
    background: #C9E5FF;
}

.red:active {
    width: 167px;
    background: #B31232;
}

.button:disabled {
    width: 132px;
    background: #004D99
}
